<button class="btn btn-outline-light" @onclick="CreateNewPackage"> + Create New Package
</button>

@code {
    private void CreateNewPackage()
    {
        // Put the logic here
        Console.WriteLine("Button clicked!");

    }
}

