<table class="table table-bordered table-dark mt-3">
    <thead class="table-dark">
        <tr>
            <th>Booking Code</th>
            <th>Travel Package</th>
            <th>Date of the event</th>
            <th>Status</th>
            <th>Revenue</th>
            <th>Edit Booking</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>#238920483</td>
            <td>Rainbow Plantation, Akihabara</td>
            <td>Monday, June 10 <span class="badge bg-secondary">in 5 days</span></td>
            <td><span class="badge bg-warning text-dark">Pending</span></td>
            <td>$1,345</td>
            <td><a href="#" class="text-white"><i class="bi bi-pencil-square me-1"></i> Edit</a></td>
        </tr>
        <tr>
            <td>#238920490</td>
            <td>Solitude Pointe, Ginza</td>
            <td>Tuesday, June 21 <span class="badge bg-secondary">Next 2 weeks</span></td>
            <td><span class="badge bg-warning text-dark">Pending</span></td>
            <td>$1,354</td>
            <td><a href="#" class="text-white"><i class="bi bi-pencil-square me-1"></i> Edit</a></td>
        </tr>
    </tbody>
</table>

