@using GoTorz.View.Components.Sales

<aside class="sidebar bg-secondary text-white p-3">
    <nav>
        <ul class="nav flex-column">
            <SalesNav></SalesNav>

            @* <li class="nav-item"><span class="nav-link text-white">Dashboard</span></li>
            <li class="nav-item"><a class="nav-link text-white" href="/create-package">Create packages</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#">Manage packages</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#">Booking search</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#">Payment</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#">Communication</a></li> *@
        </ul>
    </nav>
</aside>

