<div>
    <nav>
        <div>
            <NavLink class="nav-link" href="/sales">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <div>
            <NavLink class="nav-link" href="/sales/create-package">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create packages
            </NavLink>
        </div>

        <div>
            <NavLink class="nav-link" href="">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Manage packages
            </NavLink>
        </div>

        <div>
            <NavLink class="nav-link" href="">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Booking search
            </NavLink>
        </div>

        <div>
            <NavLink class="nav-link" href="">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Payment
            </NavLink>
        </div>

        @* There should be a href to the Communication page *@

        <div>
            <NavLink class="nav-link" href="">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Communication
            </NavLink>
        </div>
    </nav>
</div>

@code {
    
}
