<hr />

<div class="d-flex justify-content-center bg-dark text-light p-3">
    <div class="d-flex align-items-start">
        <div class="me-5">
            <label class="fw-bold d-block">Policies and legal</label>
            <label class="d-block">Booking terms &amp; Conditions</label>
            <label class="d-block">Ways to pay</label>
            <label class="d-block">Privacy policy</label>
        </div>

        <div class="me-5">
            <label class="fw-bold d-block">Already booked?</label>
            <label class="d-block">Latest travel information</label>
            <label class="d-block">Health and safety</label>
            <label class="d-block">Manage my booking</label>
        </div>

        <div class="me-5">
            <label class="fw-bold d-block">Company</label>
            <label class="d-block">About Gotorz</label>
            <label class="d-block">Contact us</label>
        </div>

        <div>
            <label class="fw-bold d-block">Subscribe to our newsletter</label>
            <label class="d-block mb-2">For announcements and exclusive deals</label>
            <div class="d-flex">
                <input type="email" class="form-control" placeholder="Input your email" />
                <button class="btn btn-secondary ms-2">Subscribe</button>
            </div>
        </div>
    </div>
</div>

<hr class="my-3 w-100" />

<div class="d-flex align-items-center justify-content-between bg-dark text-light p-3 w-100">
    <div>
        <small>&copy; 2022 Company, Inc. &bull; Privacy &bull; Terms</small>
    </div>
    <div class="d-flex align-items-center">
        <i class="me-3 fa-brands fa-facebook"></i>
        <i class="me-3 fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
</div>