@page "/edit-passenger"
@using GoTorz.View.Layout
@using GoTorz.View.Components.ManagePackages
@rendermode InteractiveServer

<div class="admin-dashboard d-flex text-white bg-dark" style="min-height: 100vh;">
    <Sidebar /> 

    <main class="main-content p-4 w-100 bg-light text-dark">
        <h2 class="mb-4">Manage Travel Package - booking #2839234</h2>
        <PassengerForm />
    </main>
</div>

